.card{
    display: flex;
    position: relative;
    gap: 10%;
    flex-direction: column;

    width: 20%;
    height: 55vh;
    
    margin: 2% 0;
    padding: 1.2%;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover{
    border-color: black;
}

.card:hover .product_image{
    transform: scale(1.05);
    transition: transform .3s ease;
}

.card:hover h3{
    overflow: visible;
    white-space: normal;
}

.product_image{
    position: relative;
    margin: 0 auto;
    width: 20vmin;
    height: 25vmin;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25vh;
}

.description h3{
    color: rgba(0,0, 0, 0.8);
    margin-bottom: 10%;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all .3s ease;
}



.price {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 4% 0;
}

.card:hover button{
    visibility: visible;
}

.extra_infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fav_icon{
    display: inline-block;
    width: 2.1vmin;
    height: 2.1vmin;
    opacity: 0.6;
    margin-right: 0.2rem;
}

.rate {
    color: rgba(0,0, 0, 0.8);
}

.card footer > span {
    display: flex;
    gap: 25%;
}

.extra_infos button{
    visibility: hidden;
    color: white;
    background: black;
    border: none;
    padding: 2% 4%;
}

